<div class = "gap-5 px-5 py-10 shadow-xl cursor-pointer">

    <ng-container *ngIf="creature">

        <div class="flex align-middle">

            <div class="flex-col space-y-10 p-20">
                <img src="{{creature.image}}" class="scale-150">

                <div class="flex-row space-x-2 pt-10">
                    <button *ngIf="sessionStorage.getItem('user') != null" class="bg-amber-600 px-11 py-10 rounded-md transition hover:bg-slate-400"
                            (click)="addToArmy()">
                        <p>Add To Army</p>
                    </button>

                    <button *ngIf="sessionStorage.getItem('user') == null" class="bg-slate-400 px-11 py-10 rounded-md transition hover:bg-slate-400" routerLink="/register">
                        <p>Register to enlist</p>
                    </button>

                    <button (click)="backClicked()" class=" p-10 bg-amber-400 px-5 py-2 shadow rounded-md  z-25">Go Back</button>

                </div>
            </div>



            <div class="flex-col pl-5 pr-5 w-2/3">

                <h2 class="font-bold text-9xl">{{creature.name}}</h2>
                <p class="pt-10 text-6xl">{{creature.description}}</p>
                <p class="pt-5 text-5xl"><b>Locations:</b></p>

                <div class="flex order-1 justify-between">
                    <div *ngFor="let x of creature.common_locations" >
                        {{x}}
                    </div>
                </div>
            </div>

        </div>
    </ng-container>

</div>