<nav class = "flex justify-between px-20 py-10 shadow-xl items-center sticky top-0 z-50">
    <ul>
        <button class="text-7xl" routerLink="/">Hyrule Explore</button>
    </ul>
    <ul class = "flex gap-5 items-center">
        <button *ngIf="sessionStorage.getItem('user') == null" class="bg-green-600 px-5 py-2 shadow rounded-md transition hover:scale-125" routerLink="/register">Register</button>
        <button *ngIf="sessionStorage.getItem('user') == null" class="bg-cyan-500 px-5 py-2 shadow rounded-md transition hover:scale-125" routerLink="/login">Login</button>
        <button *ngIf="sessionStorage.getItem('user') != null" class="bg-cyan-500 px-5 py-2 shadow rounded-md transition hover:scale-125 " (click)="onLogout()" routerLink="/login">Logout</button>
    </ul>
</nav>