<div class="flex justify-evenly space-x-10 pl-20 pr-20 divide-x-3">

    <button *ngIf="sessionStorage.getItem('user') != null" class="w-1/3 bg-[#537188] px-32 py-52 shadow rounded-md transition hover:scale-125 duration-800 text-7xl font-hyrule" routerLink="/profile/{{username}}">
        Profile
    </button>
    <button class="w-2/5 content-center bg-[#9FC088] px-32 py-52 shadow rounded-md transition hover:scale-125 font-hyrule text-7xl duration-800" routerLink="/creatures">Creatures</button>
    <button class="w-1/3 bg-[#CC704B] px-32 py-52 shadow rounded-md transition hover:scale-125 font-hyrule text-7xl duration-800" routerLink="/users">
        Users
    </button>

</div>
